<h2>Sign up</h2>

<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :name %>
  Name: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Confirm Password: <%= f.password_field :password_confirmation %>
  <div class="form-actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

