<section>
  <h1>Events</h1>
  <h3>Upcoming Events</h3>
  <% @future_events.each do |event| %>
    <p>
      <%= event.name %>
      <%= event.event_date %>
    </p>
  <% end %>

  <h3>Past Events</h3>
  <% @past_events.each do |event| %>
    <p>
      <%= event.name %>
      <%= event.event_date %>
    </p>
  <% end %>

  <h3>All Event</h3>
  <% @events.each do |event| %>
    <p>
      <%= event.name %>
      <%= link_to 'Show', event %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>

  <%= link_to 'New Event', new_event_path %>
</section>
