<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h3>Private Events</h3>
      <% end %>
      <nav>
        <% if user_signed_in? %>
          <%= link_to current_user.name, edit_user_registration_path %>
          <%= link_to "Calendar", user_path(current_user) %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <section>
      <div>
          <% if flash[:notice] %>
            <%= notice %>
          <% end %>
          <% if flash[:alert] %>
            <%= alert %>
          <% end %>
      </div>
    </section>
    
    <%= yield %>
  </body>
</html>
