<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class=container>
      <div class='w-50 mx-auto'>
          <% if flash[:notice] %>
            <%= notice %>
          <% end %>
          <% if flash[:alert] %>
            <%= alert %>
          <% end %>
      </div>
    </section>
    
    <%= yield %>
  </body>
</html>
